{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/query.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
{% block body %}
<div class="container-fluid">
    <h2>Сервис: {{ service.getName() }}</h2>
    <div class="row">
        <div class="col-sm">
            Адрес://{host}/{login}:{password}/{project}/{{ service.getCode() }}/definition
        </div>
    </div>
    <h4>Список запросов:</h4>
    <div class="row justify-content-md-center">
    {% for query in service.queries %}
        <div class="col-12">
            <a class="pointer" role="button" data-toggle="collapse" href="#query{{query.getId()}}"><h4>{{ query.getName() }}</h4></a>
            <div class="row collapse" id="query{{query.getId()}}">
                <div class="offset-1 col-11">
                    <h5 class="pointer" data-toggle="collapse" href="#attr{{query.getId()}}">Свойства</h5>
                    <table class="table collapse" id="attr{{query.getId()}}">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Название</th>
                            <th scope="col">Значение</th>
                        </tr>
                        </thead>
                        <tr>
                            <td>Адрес метода</td>
                            <td>{{ query.getUri() }}</td>
                        </tr>
                        <tr>
                            <td>Активность</td>
                            <td>{{ query.getActive() }}</td>
                        </tr>
                    </table>
                    {% if query.filters | length > 0 %}
                    <h5 data-toggle="collapse" class="pointer" href="#critery{{query.getId()}}">Критерии</h5>
                    <table id="critery{{query.getId()}}" class="table collapse">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Тип</th>
                                <th scope="col">Критерий</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for filter in query.filters %}
                            <tr>
                                <td scope="row"> {{ filter.getName() }}</td>
                                <td>{{ filter.getType() }} </td>
                                <td>{{ filter.getValue() }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% if query.responses | length > 0 %}
                    <h5 data-toggle="collapse" class="pointer" href="#answer{{query.getId()}}">Ответы</h5>
                    <div class="row collapse" id="answer{{query.getId()}}">
                        <div class="offset-1 col-11">
                                {% for response in query.responses %}
                                    <table class="table">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Название</th>
                                            <th scope="col">Значение</th>
                                        </tr>
                                        </thead>
                                        <tr>
                                            <td>Название</td>
                                            <td>{{ response.getName() }}</td>
                                        </tr>
                                        <tr>
                                            <td>Активность</td>
                                            <td>{{ response.getActive() }}</td>
                                        </tr>
                                        <tr>
                                            <td>Время ответа</td>
                                            <td>{{ response.getTimeout() }}</td>
                                        </tr>
                                        <tr>
                                            <td>Значение (скрыть!!!)</td>
                                            <td>{{ response.getValue() }}</td>
                                        </tr>
                                        <tr>
                                            <td>Код ответа</td>
                                            <td>{{ response.getHttpStatus() }}</td>
                                        </tr>
                                        <tr>
                                            <td>Показывать в любой случае</td>
                                            <td>{{ response.getIsDefault() }}</td>
                                        </tr>
                                    </table>
                                    {% if response.filters | length > 0 %}
                                    <h5 data-toggle="collapse" class="pointer" href="#response_critery{{response.getId()}}">Критерии ответа</h5>
                                    <table id="response_critery{{response.getId()}}" class="table collapse">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">Название</th>
                                            <th scope="col">Тип</th>
                                            <th scope="col">Критерий</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for filter in response.filters %}
                                            <tr>
                                                <td scope="row"> {{ filter.getName() }}</td>
                                                <td>{{ filter.getType() }} </td>
                                                <td>{{ filter.getValue() }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    {% endif %}
                                {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}