<a class="btn btn-sm btn-default view_link" href="{{ path('admin_app_service_serviceattribute_list', { 'id': object.getId()}) }}">Аттрибуты</a>
<a class="btn btn-sm btn-default view_link" href="{{ path('admin_app_service_query_list', {'id': object.getId()}) }}">Запросы</a>