<a class="btn btn-sm btn-default view_link" href="{{ path('admin_app_service_query_querycriteria_list', {'id': admin.getRequest().get('id'), 'childId': object.getId()}) }}">Критерии</a>
<a class="btn btn-sm btn-default view_link" href="{{ path('admin_app_service_query_response_list', {'id': admin.getRequest().get('id'), 'childId': object.getId()}) }}">Ответы</a>