<a class="btn btn-sm btn-default view_link" href="{{ path('admin_app_service_query_response_responsecriteria_list', {'id': admin.getRequest().get('id'), 'childId': admin.getRequest().get('childId'), 'childChildId': object.getId()}) }}">Критерии</a>